*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 5%;
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: pink;
    border: 2px solid purple;

}

.input-box{
    margin-top: 5%;
}

#sayi{
    border: 1px solid black;
    
}
#tex{
    text-align: center;
    
}

#myBtn{
    margin-bottom: 5%;
    border-radius: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}